
@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/LayoutPageShare.cshtml";
}


@Html.Partial("Sildeshow")

<div class="ird-parent">
    <div>
        <div class="ird ird-1">
            <ul>
                <li><p>GIỚI THIỆU</p></li>
                <li><p>QDN Center là  đơn vị đầu tư, phát triển, vận hành các trung tâm phức hợp Thể thao - Fitness và là nhà tổ chức các sự kiện thể thao hàng đầu Việt Nam. Cam kết mang đến môi trường tuyệt hảo để bạn rèn luyện sức khỏe và phát triển thể hình. </p></li>
                <li><p>Chúng tôi tự hào được thành lập từ năm 2023 và đã thu hút một cộng đồng đa dạng và nhiều hội viên năng động. Với đội ngũ huấn luyện viên chuyên nghiệp và cơ sở vật chất hiện đại, chúng tôi sẽ giúp bạn đạt được mục tiêu cá nhân và vượt qua giới hạn.</p></li>
            </ul>
            <ul>
                <li>
                    <img src="~/images/introduction/rectangle-39.png" alt="">
                </li>
            </ul>
        </div>
        <div class="border-ird"></div>
        <div class="ird ird-2">
            <p>HỆ THỐNG PHÒNG TẬP CAO CẤP TẠI QDN CENTER</p>
            <div>
                <div>
                    <img src="~/images/introduction/rectangle-41.png" alt="" class="img-a"></li>
                    <img src="~/images/introduction/rectangle-42.png" alt="" class="img-b"></li>
                    <img src="~/images/introduction/rectangle-43.png" alt=""></li>
                </div>
                <ul>
                    <li><p>Tọa lạc vị trí VÀNG, giữa lòng các quận trung tâm Tp.HCM, mang đến sự thuận tiện tuyệt đối cho khách hàng.</p></li>
                    <li><p>Phòng tập rộng lớn với diện tích trung bình hơn 3000m2, tạo không gian cao cấp cho việc rèn luyện.</p></li>
                    <li><p>Các không gian độc đáo, độc đáo như Sân chơi Power, Vườn Zen, Không gian xanh tạo ra môi trường rèn luyện đầy cảm hứng cho khách hàng. </p></li>
                </ul>
            </div>
        </div>
        <div class="border-ird"></div>
        <div class="ird ird-3">
            <div>
                <ul>
                    <li><p>TRANG THIẾT BỊ <br> CƠ SỞ VẬT CHẤT HIỆN ĐẠI</p>
                    <li><p>Hệ thống phòng tập QDN mang đến trải nghiệm tập luyện chuyên nghiệp và hài lòng đến khách hàng</p></li>
                </ul>
                <div>
                    <ul>
                        <li><img src="~/images/introduction/rectangle-44.png" alt=""></li>
                        <li><p>Máy móc, thiết bị hiện đại</p></li>
                        <li><p>Máy tập, trang thiết bị tại QDN được đầu tư bài bản, nhập khẩu 100% từ các thương hiệu nổi tiếng Technogym, Life Fitness...</p></li>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <ul>
                        <li><img src="~/images/introduction/rectangle-44.png" alt=""></li>
                        <li><p>Máy móc, thiết bị hiện đại</p></li>
                        <li><p>Máy tập, trang thiết bị tại QDN được đầu tư bài bản, nhập khẩu 100% từ các thương hiệu nổi tiếng Technogym, Life Fitness...</p></li>
                    </ul>
                    <ul>
                        <li><img src="~/images/introduction/rectangle-44.png" alt=""></li>
                        <li><p>Máy móc, thiết bị hiện đại</p></li>
                        <li><p>Máy tập, trang thiết bị tại QDN được đầu tư bài bản, nhập khẩu 100% từ các thương hiệu nổi tiếng Technogym, Life Fitness...</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        keyboard: {
            enabled: true,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });


</script>


