
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/LayoutPageShare.cshtml";
}
<div class="banner">
    <img src="~/images/news/citygym-11591.png" alt="" srcset="">
    <p>TIN TỨC</p>
    <p>TIN TỨC</p>
</div>
<div class="news-optional">
    <div class="optional">
        <ul>
            <li><a href="#">TẤT CẢ</a></li>
            <li><a href="#">CÂU CHUYỆN HỘI VIÊN</a></li>
            <li><a href="#">TIN TỨC QDN CENTER</a></li>
        </ul>
        <ul>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">TẬP LUYỆN</a></li>
        </ul>
        <ul>
            <li><a href="#">KHUYẾN MÃI</a></li>
            <li><a href="#">CHẾ ĐỘ DINH DƯỠNG</a></li>
        </ul>
        <ul>
            <li><a href="#">GIẢM CÂN</a></li>
            <li><a href="#">SỰ KIỆN</a></li>
        </ul>
    </div>
    <div class="search-news">
        <input type="search" name="" id="" placeholder="Tìm kiếm">
        <i class="fa-solid fa-magnifying-glass" style="color: #acacac;"></i>
    </div>
</div>
<div class="grid-news">
    <div>
        <img src="~/images/news/rectangle-5371.png" alt="">
        <p>TẬP LUYỆN</p>
        <h3 class="h3-news">
            BODY JAM - KẾT HỢP NIỀM ĐAM MÊ VŨ ĐẠO VÀ VIỆC RÈN..
        </h3>
        <p>22-06-2023</p>
        <p>
            Body Jam là một sự kết hợp độc đáo giữa các bước nhảy điệu nhạc và bài tập thể dục, mang đến cho bạn một trải nghiệm vừa th..
        </p>
    </div>
    <div>
        <img src="~/images/news/rectangle-5371.png" alt="">
        <p>TẬP LUYỆN</p>
        <h3 class="h3-news">
            BODY JAM - KẾT HỢP NIỀM ĐAM MÊ VŨ ĐẠO VÀ VIỆC RÈN..
        </h3>
        <p>22-06-2023</p>
        <p>
            Body Jam là một sự kết hợp độc đáo giữa các bước nhảy điệu nhạc và bài tập thể dục, mang đến cho bạn một trải nghiệm vừa th..
        </p>
    </div>
    <div>
        <img src="~/images/news/rectangle-5371.png" alt="">
        <p>TẬP LUYỆN</p>
        <h3 class="h3-news">
            BODY JAM - KẾT HỢP NIỀM ĐAM MÊ VŨ ĐẠO VÀ VIỆC RÈN..
        </h3>
        <p>22-06-2023</p>
        <p>
            Body Jam là một sự kết hợp độc đáo giữa các bước nhảy điệu nhạc và bài tập thể dục, mang đến cho bạn một trải nghiệm vừa th..
        </p>
    </div>
    <div>
        <img src="~/images/news/rectangle-5371.png" alt="">
        <p>TẬP LUYỆN</p>
        <h3 class="h3-news">
            BODY JAM - KẾT HỢP NIỀM ĐAM MÊ VŨ ĐẠO VÀ VIỆC RÈN..
        </h3>
        <p>22-06-2023</p>
        <p>
            Body Jam là một sự kết hợp độc đáo giữa các bước nhảy điệu nhạc và bài tập thể dục, mang đến cho bạn một trải nghiệm vừa th..
        </p>
    </div>
    <div>
        <img src="~/images/news/rectangle-5371.png" alt="">
        <p>TẬP LUYỆN</p>
        <h3 class="h3-news">
            BODY JAM - KẾT HỢP NIỀM ĐAM MÊ VŨ ĐẠO VÀ VIỆC RÈN..
        </h3>
        <p>22-06-2023</p>
        <p>
            Body Jam là một sự kết hợp độc đáo giữa các bước nhảy điệu nhạc và bài tập thể dục, mang đến cho bạn một trải nghiệm vừa th..
        </p>
    </div>
    <div>
        <img src="~/images/news/rectangle-5371.png" alt="">
        <p>TẬP LUYỆN</p>
        <h3 class="h3-news">
            BODY JAM - KẾT HỢP NIỀM ĐAM MÊ VŨ ĐẠO VÀ VIỆC RÈN..
        </h3>
        <p>22-06-2023</p>
        <p>
            Body Jam là một sự kết hợp độc đáo giữa các bước nhảy điệu nhạc và bài tập thể dục, mang đến cho bạn một trải nghiệm vừa th..
        </p>
    </div>
    <div>
        <img src="~/images/news/rectangle-5371.png" alt="">
        <p>TẬP LUYỆN</p>
        <h3 class="h3-news">
            BODY JAM - KẾT HỢP NIỀM ĐAM MÊ VŨ ĐẠO VÀ VIỆC RÈN..
        </h3>
        <p>22-06-2023</p>
        <p>
            Body Jam là một sự kết hợp độc đáo giữa các bước nhảy điệu nhạc và bài tập thể dục, mang đến cho bạn một trải nghiệm vừa th..
        </p>
    </div>
    <div>
        <img src="~/images/news/rectangle-5371.png" alt="">
        <p>TẬP LUYỆN</p>
        <h3 class="h3-news">
            BODY JAM - KẾT HỢP NIỀM ĐAM MÊ VŨ ĐẠO VÀ VIỆC RÈN..
        </h3>
        <p>22-06-2023</p>
        <p>
            Body Jam là một sự kết hợp độc đáo giữa các bước nhảy điệu nhạc và bài tập thể dục, mang đến cho bạn một trải nghiệm vừa th..
        </p>
    </div>
    <div>
        <img src="~/images/news/rectangle-5371.png" alt="">
        <p>TẬP LUYỆN</p>
        <h3 class="h3-news">
            BODY JAM - KẾT HỢP NIỀM ĐAM MÊ VŨ ĐẠO VÀ VIỆC RÈN..
        </h3>
        <p>22-06-2023</p>
        <p>
            Body Jam là một sự kết hợp độc đáo giữa các bước nhảy điệu nhạc và bài tập thể dục, mang đến cho bạn một trải nghiệm vừa th..
        </p>
    </div>
    <div>
        <img src="~/images/news/rectangle-5371.png" alt="">
        <p>TẬP LUYỆN</p>
        <h3 class="h3-news">
            BODY JAM - KẾT HỢP NIỀM ĐAM MÊ VŨ ĐẠO VÀ VIỆC RÈN..
        </h3>
        <p>22-06-2023</p>
        <p>
            Body Jam là một sự kết hợp độc đáo giữa các bước nhảy điệu nhạc và bài tập thể dục, mang đến cho bạn một trải nghiệm vừa th..
        </p>
    </div>
    <div>
        <img src="~/images/news/rectangle-5371.png" alt="">
        <p>TẬP LUYỆN</p>
        <h3 class="h3-news">
            BODY JAM - KẾT HỢP NIỀM ĐAM MÊ VŨ ĐẠO VÀ VIỆC RÈN..
        </h3>
        <p>22-06-2023</p>
        <p>
            Body Jam là một sự kết hợp độc đáo giữa các bước nhảy điệu nhạc và bài tập thể dục, mang đến cho bạn một trải nghiệm vừa th..
        </p>
    </div>
    <div>
        <img src="~/images/news/rectangle-5371.png" alt="">
        <p>TẬP LUYỆN</p>
        <h3 class="h3-news">
            BODY JAM - KẾT HỢP NIỀM ĐAM MÊ VŨ ĐẠO VÀ VIỆC RÈN..
        </h3>
        <p>22-06-2023</p>
        <p>
            Body Jam là một sự kết hợp độc đáo giữa các bước nhảy điệu nhạc và bài tập thể dục, mang đến cho bạn một trải nghiệm vừa th..
        </p>
    </div>
</div>

