<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="~/stylecss/slideshow.css" />
<div class="slide-show">
    <div class="swiper mySwiper" style="background-color: #091450 ">
        <div class="wrapper swiper-wrapper">
            <div class="slide swiper-slide">
                <img src="~/images/slideshow/img1.jpg" alt="" class="img">
                <img src="~/images/slideshow/imgeffect.jpg" alt="" class="effect1">
                <div class="desc banner1">
                    <strong>
                        CHƯƠNG TRÌNH<br />
                        HUẤN LUYỆN VIÊN CÁ NHÂN<br />
                        TẠI QDN CENTER<br />
                    </strong>
                </div>
                <a href="" class="button button1">THAM GIA NGAY</a>
            </div>
            <div class="slide swiper-slide">
                <img src="~/images/slideshow/img3.jpg" alt="" class="img">
                <img src="~/images/slideshow/imgeffect.jpg" alt="" class="effect1">
                <div class="desc banner2">
                    <strong>
                        THOẢI MÁI TẬP YOGA<br />
                        VỚI STUDIO CHUẨN<br />
                        QUỐC TẾ<br />
                    </strong>
                </div>
                <a href="" class="button button2">ĐĂNG KÝ NGAY</a>
            </div>
            <div class="slide swiper-slide">
                <img src="~/images/slideshow/img2.jpg" alt="" class="img">
                <img src="~/images/slideshow/img3.jpg" alt="" class="effect1">
                <div class="desc banner3">
                    <strong>
                        NĂNG LƯỢNG TUYỆT VỜI<br />
                        VƯỢT QUA GIỚI HẠN<br />
                        CÙNG AEROBIC<br />
                    </strong>
                </div>
                <a href="" class="button button3">THAM GIA NGAY</a>
            </div>
            <div class="slide swiper-slide">
                <img src="~/images/slideshow/img4.jpg" alt="" class="img" style="opacity: 0.6;">
                <div class="desc banner4">
                    <strong>
                        <p>DŨNG MÃNH </p>
                        <p>SỨC MẠNH TINH THẦN</p>
                        <p>CÙNG BOXING</p>
                    </strong>
                </div>
                <a href="" class="button button4">ĐĂNG KÝ NGAY</a>
            </div>

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="autoplay-progress">
            <svg viewBox="0 0 48 48">
                <circle cx="24" cy="24" r="20"></circle>
            </svg>
            <span></span>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="~/JsFile/index.js"></script>