
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/LayoutPageShare.cshtml";
}



@Html.Partial("Sildeshow")

<div class="card-view">
    <div>
        <div class="card-p">
            <p>CÁC LỚP HỌC</p>
        </div>
        <h3 class="h3-home">CÙNG CHINH PHỤC GIỚI HẠN <br> VỚI QDN CENTER</h3>
    </div>
    <div class="card-parent">
        <div class="card-child-1">
            <img src="~/images/trangchu/exercise-removebg-preview-1.svg" alt="">
            <h5>GYM</h5>
            <p>Tăng cơ, giảm mở hiệu quả với HLV cá nhân cùng máy tập hiện đại</p>
            <div></div>
            <a href="@Url.Action("Index","Gym")">TÌM HIỂU THÊM <img src="~/images/trangchu/group-5.svg" alt=""></a>
        </div>
        <div class="card-child-2">
            <img src="~/images/trangchu/yoga-removebg-preview-1.png" alt="">
            <h5>YOGA</h5>
            <p>Thân khỏe, tâm an cùng Yoga với Master Ấn Độ tại Sutdio cao cấp.</p>
            <div></div>
            <a href="#">TÌM HIỂU THÊM <img src="~/images/trangchu/group-5.svg" alt=""></a>
        </div>
        <div class="card-child-3">
            <img src="~/images/trangchu/aerobics-1.png" alt="">
            <h5>AEROBIC</h5>
            <p>Vượt qua giới hạn, tạo nên sức khỏe tuyệt vời với môn aerobic</p>
            <div></div>
            <a href="#">TÌM HIỂU THÊM <img src="~/images/trangchu/group-5.svg" alt=""></a>
        </div>
        <div class="card-child-4">
            <img src="~/images/trangchu/boxer-removebg-preview-1.png" alt="">
            <h5>BOXING</h5>
            <p>Đánh bật mọi giới hạn thể hiện sức mạnh và sự kiên nhẫn với boxing.</p>
            <div></div>
            <a href="#">TÌM HIỂU THÊM <img src="~/images/trangchu/group-5.svg" alt=""></a>
        </div>
    </div>
</div>




<!--PHẦN BODY THỨ 3-->
<div class="register-user">
    <nav>
        <div>
            <div class="header-register-user">
                <div></div>
                <p>QDN CENTER</p>
            </div>
            <div>
                <p class="title-register-user">NƠI HƯỚNG ĐẾN SỨC KHỎE VÀ THÀNH TỰU VƯỢT BẬC !</p>
                <div></div>
            </div>
            <p class="description-register-user">
                Thử ngay dịch vụ miễn phí và khám phá tiềm năng của bạn.
                Hãy trao cho chúng tôi cơ hội biến ước mơ thành hiện thực.
                Chúng tôi cam kết mang đến trải nghiệm tuyệt vời để bạn
                tiến xa hơn trong hành trình thể thao của mình.
            </p>
        </div>
    </nav>
    <nav>
        <div>
            <form action="#">
                <input type="text" name="" id="username" placeholder="Họ và tên*"><br>
                <input type="text" name="" id="phone_user" placeholder="Số điện thoại*"><br>
                <input type="text" name="" id="email_user" placeholder="Email"><br>
                <button type="button">Đăng ký</button>
            </form>
        </div>
    </nav>
</div>
<!--PHẦN BODY THỨ 3-->
<!--TIN TỨC-->
<div class="parent-news">
    <nav>
        <div>
            <img src="~/images/trangchu/image.png" alt="">
            <p>[Giải đáp] Tập gym 1 tháng bao nhiêu tiền hiện nay?</p>
            <div>
                <p>Tháng 07,2023</p>
                <a href="#">XEM THÊM <img src="~/images/trangchu/arrow.svg" alt="" srcset=""></a>
            </div>
        </div>
        <div>
            <img src="~/images/trangchu/image.png" alt="">
            <p>[Giải đáp] Tập gym 1 tháng bao nhiêu tiền hiện nay?</p>
            <div>
                <p>Tháng 07,2023</p>
                <a href="#">XEM THÊM <img src="~/images/trangchu/arrow.svg" alt="" srcset=""></a>
            </div>
        </div>
        <div>
            <img src="~/images/trangchu/image.png" alt="">
            <p>[Giải đáp] Tập gym 1 tháng bao nhiêu tiền hiện nay?</p>
            <div>
                <p>Tháng 07,2023</p>
                <a href="#">XEM THÊM <img src="~/images/trangchu/arrow.svg" alt="" srcset=""></a>
            </div>
        </div>
    </nav>

    <nav>
        <div>
            <img src="~/images/trangchu/image.png" alt="">
            <p>[Giải đáp] Tập gym 1 tháng bao nhiêu tiền hiện nay?</p>
            <div>
                <p>Tháng 07,2023</p>
                <a href="#">XEM THÊM <img src="~/images/trangchu/arrow.svg" alt="" srcset=""></a>
            </div>

        </div>
        <div>
            <img src="~/images/trangchu/image.png" alt="">
            <p>[Giải đáp] Tập gym 1 tháng bao nhiêu tiền hiện nay?</p>
            <div>
                <p>Tháng 07,2023</p>
                <a href="#">XEM THÊM <img src="~/images/trangchu/arrow.svg" alt="" srcset=""></a>
            </div>

        </div>
        <div>
            <img src="~/images/trangchu/image.png" alt="">
            <p>[Giải đáp] Tập gym 1 tháng bao nhiêu tiền hiện nay?</p>
            <div>
                <p>Tháng 07,2023</p>
                <a href="#">XEM THÊM <img src="~/images/trangchu/arrow.svg" alt="" srcset=""></a>
            </div>

        </div>
    </nav>
</div>

<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        keyboard: {
            enabled: true,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });


</script>
